{% extends "base.html" %}
{% block title %}Cambia Password{% endblock %}

{% block content %}
<div class="max-w-md mx-auto bg-white p-6 rounded shadow">
    <h2 class="text-2xl font-semibold mb-4 text-center">Cambia la tua password</h2>

    <form method="post" class="space-y-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition">
            Conferma Cambio Password
        </button>
    </form>
</div>
{% endblock %}
