{% extends "base.html" %}
{% block title %}Cambia Password{% endblock %}

{% block content %}
<div class="flex items-center justify-center min-h-screen bg-gray-100 py-12">
  <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
    <h2 class="text-2xl font-semibold text-blue-900 mb-6 text-center">🔒 Cambia la tua password</h2>

    <form method="post" class="space-y-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="w-full bg-green-500 text-white py-2 rounded hover:bg-green-600 transition">
            ✅ Conferma Cambio Password
        </button>
    </form>
  </div>
</div>
{% endblock %}

