{% extends "base.html" %}
{% block title %}Password Modificata{% endblock %}

{% block content %}
<div class="max-w-md mx-auto bg-white p-6 rounded shadow text-center">
    <h2 class="text-2xl font-semibold mb-4 text-green-600">✅ Password modificata con successo!</h2>
    <p class="mb-4">Ora puoi accedere al sistema con la nuova password.</p>
    {% if request.user.ruolo == "C" %}
    <a href="{% url 'dashboard_cliente' %}" class="text-blue-600 underline">Torna alla Dashboard</a>
{% else %}
    <a href="{% url 'cliente-list' %}" class="text-blue-600 underline">Torna all'Area Clienti</a>
{% endif %}

</div>
{% endblock %}
